@tailwind base;
@tailwind components;
@tailwind utilities;

.receipt-container {
  background-image: url("/receipt.svg"); /* Path to your SVG */
  background-size: cover; /* Ensure the SVG covers the div completely */
  background-repeat: no-repeat;
  border-radius: 12px; /* Optional: If your SVG doesn’t have rounded corners */
}
